{% extends "base.html" %} 

{% block title %}Ingresos{% endblock title %}

{% block body %}
    {% include "components/header.html" %}

<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-8">
  <div class="flex justify-center">
    <h2 class="inline-block text-2xl font-semibold text-white mb-4 border bg-gray-600 rounded-full px-3 py-1">Todos los Ingresos:</h2>
  </div>

  <div class="flex justify-end mb-4">
    <form action="{% url "entries_by_date" %}" method="POST" class="flex items-center">
      {% csrf_token %}
      <input 
        type="date" 
        name="date"
        class="border rounded-l px-4 py-2 focus:outline-none focus:ring-2 focus:ring-blue-500" 
        placeholder="Buscar Cliente"
      >
      <button 
        class="bg-indigo-600 text-white px-4 py-2 rounded-r hover:bg-gray-700" 
        type="submit"
      >
        Filtrar
      </button>
    </form>
  </div>

  <div class="overflow-x-auto">
    <table class="min-w-full divide-y divide-gray-200 shadow-sm rounded-lg">
      <thead class="bg-blue-500">
        <tr>
          <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">Nombre</th>
          <th class="px-6 py-3 text-left text-xs font-medium text-white uppercase tracking-wider">Hora</th>
        </tr>
      </thead>
      <tbody class="bg-white divide-y divide-gray-200">
        {% for entry in entries %}
        <tr class="hover:bg-gray-100 cursor-pointer"  onclick="window.location.href='{% url 'client_detail' entry.client.id %}'">
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">{{ entry.client.name }}</td>
          <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-800">{{ entry.date_time }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

      <!-- Controles de Paginación -->
    <div class="mt-9 flex justify-center space-x-2">
      {% if page_obj.has_previous %}
        <a href="?page=1" class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400">Primero</a>
        <a href="?page={{ page_obj.previous_page_number }}" class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400">Anterior</a>
      {% endif %}

      <span class="px-4 py-2 bg-gray-200 rounded">
        Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
      </span>

      {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}" class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400">Siguiente</a>
        <a href="?page={{ page_obj.paginator.num_pages }}" class="px-4 py-2 bg-gray-300 rounded hover:bg-gray-400">Último</a>
      {% endif %}
    </div>
  </div>
</div>
{% endblock body %}
