{% extends "base.html" %} 

{% block title %}Actualizar cliente{% endblock title %}

{% block body %}
{% include "components/header.html" %}

<div class="max-w-4xl mx-auto py-8 px-6 bg-white shadow-md rounded-lg">
    <div class="flex justify-between">
        <h1 class="text-2xl font-semibold text-gray-800 mb-6">Actualizar Cliente: {{ client.name }}</h1>
        <a href=" {% url "client_list" %}">
            <i class="fas fa-arrow-left"></i>
            <span>Regresar</span>
        </a>
    </div>

  <form method="POST" enctype="multipart/form-data" class="space-y-6">
    {% csrf_token %}

    <!-- Name Field -->
    <div>
      <label for="id_name" class="block text-sm font-medium text-gray-700">Nombre:</label>
      <input
        type="text"
        id="id_name"
        name="name"
        value="{{ form.name.value }}"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
      />
      {% if form.name.errors %}
      <p class="mt-2 text-sm text-red-600">{{ form.name.errors.0 }}</p>
      {% endif %}
    </div>

    <!-- DNI Field -->
    <div>
      <label for="id_dni" class="block text-sm font-medium text-gray-700">Cédula:</label>
      <input
        type="text"
        id="id_dni"
        name="dni"
        value="{{ form.dni.value }}"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
      />
      {% if form.dni.errors %}
      <p class="mt-2 text-sm text-red-600">{{ form.dni.errors.0 }}</p>
      {% endif %}
    </div>

    <!-- Celphone Field -->
    <div>
      <label for="id_celphone" class="block text-sm font-medium text-gray-700">Celular:</label>
      <input
        type="text"
        id="id_celphone"
        name="celphone"
        value="{{ form.celphone.value }}"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
      />
      {% if form.celphone.errors %}
      <p class="mt-2 text-sm text-red-600">{{ form.celphone.errors.0 }}</p>
      {% endif %}
    </div>

    <!-- Addresss Field -->
    <div>
      <label for="id_celphone" class="block text-sm font-medium text-gray-700">Dirección:</label>
      <input
        type="text"
        id="id_address"
        name="address"
        value="{{ form.address.value }}"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
      />
      {% if form.address.errors %}
      <p class="mt-2 text-sm text-red-600">{{ form.address.errors.0 }}</p>
      {% endif %}
    </div>

    <!-- Observation Field -->
    <div>
      <label for="id_observation" class="block text-sm font-medium text-gray-700">Observaciones:</label>
      <textarea
        id="id_observation"
        name="observation"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
      >{{ form.observation.value }}</textarea>
      {% if form.observation.errors %}
      <p class="mt-2 text-sm text-red-600">{{ form.observation.errors.0 }}</p>
      {% endif %}
    </div>

    <!-- Image Field -->
    <div>
      <label for="id_image" class="block text-sm font-medium text-gray-700">Imagen:</label>
      <input
        type="file"
        id="id_image"
        name="image"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
      />
      {% if form.image.errors %}
      <p class="mt-2 text-sm text-red-600">{{ form.image.errors.0 }}</p>
      {% endif %}
    </div>

    <!-- Active Membership Field -->
    <div class="flex items-center">
      <input
        type="checkbox"
        id="id_active_membership"
        name="active_membership"
        class="h-4 w-4 text-indigo-600 border-gray-300 rounded focus:ring-indigo-500"
        {% if form.active_membership.value %}checked{% endif %}
      />
      <label for="id_active_membership" class="ml-2 block text-sm text-gray-700">Membresía Activa</label>
    </div>

    <!-- Active Until Field -->
    <div>
      <label for="id_active_until" class="block text-sm font-medium text-gray-700">Activo Hasta:</label>
      <input
        type="date"
        id="id_active_until"
        name="active_until"
        value="{{ form.active_until.value|date:'Y-m-d' }}"
        class="mt-1 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
      />
      {% if form.active_until.errors %}
      <p class="mt-2 text-sm text-red-600">{{ form.active_until.errors.0 }}</p>
      {% endif %}
    </div>

    <!-- Submit Button -->
    <div>
      <button
        type="submit"
        class="w-full py-2 px-4 bg-indigo-600 text-white font-semibold rounded-md shadow hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
      >
        Actualizar
      </button>
    </div>
  </form>
</div>
{% endblock body %}
